body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}


#Root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#Map_UI_layer {
    z-index: 10;
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    grid-template-columns: 8vh 3fr 8vh;
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
    pointer-events: none;
}
    #Ai_feedback {
        grid-area: 7 / 1 / -1 / -1; 
        height: 50%;
        width: 90%;
        background-color: #ccc;
        pointer-events: none; 
        border-radius: 8px;
        padding: 10px;

        white-space: pre-wrap; 
        overflow-y: auto; 
        font-family: monospace; /* Optional: Fits your 'dev/terminal' theme */
    }

    #Allroutes {
        pointer-events: auto;
        width: 40px;
        height: 40px;
        grid-area: 1 / 3 / 2 / 4;
        cursor: pointer;
        background: white;
        border: 1px solid #ccc;
        border-radius: 30px;
    }

    #Search_Container {
        pointer-events: auto;
        grid-area: 1 / 2 / 2 / 3;
        width: 80%;
        position: relative;  
    }

        .mapboxgl-ctrl-geocoder mapboxgl-ctrl {
            width: 100% !important; 
            max-width: none !important; 
            box-shadow: none !important; /* Optional: Makes it flat */
            border: 1px solid #ccc; /* Matches your theme */
        }

#Map_layer {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
}
    .terminalPopup > * {
        padding: 0px;
        margin: 0px;
    }

    .stopPopup > * {
        padding: 0px;
        margin: 0px;
    }

#Routes_layer {
    display: none;
    z-index: 15;
    grid-area: 2 / 2 / -2 / -2;
    background-color: rgb(224, 224, 224);
    opacity: 1;
    transition: opacity 0.3s ease;
    overflow: scroll;

    padding: 10px;
}
    .terminal-wrapper {
        padding-left: 10px; 
        padding-right: 10px;
        margin-bottom: 20px;
    }

    .terminal-wrapper h3, 
    .terminal-wrapper p { 
        padding: 0px;
        margin: 0px;
    }

    .terminal-wrapper h3 {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .terminal-wrapper .stop-item {
        padding: 10px;
        background-color: #ccc;
        border-bottom: .5px double black;
        border-radius: 10px;
    }